<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MongoDbConnectionString" value="mongodb+srv://TrungAI:Trung123@chatappdatabase.jx9lwei.mongodb.net/?retryWrites=true" />
		<add key="MongoDbDatabaseName" value="ChatAppDatabase" />
		<add key="MongoDbThreadsCollectionName" value="Threads" />
	</appSettings>
</configuration>
